/* STYLES GLOBAUX */
html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: gainsboro;
  color: #333;
  height: 100%; /* Assure que le contenu s'affiche correctement */
  scroll-behavior: smooth; /* Défilement fluide */
}

/* HEADER (Bandeau) */
header {
  background-color: #ffffff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  border-bottom: 1px solid #ccc;
}

/* Logo */
.logo-container img {
  max-height: 75px;
}

/* Centrage du menu */
.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* BARRE DE NAVIGATION */
.main-nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Style des liens */
.main-nav li {
  position: relative;
  font-size: 16px;
  font-weight: bold;
}

/* Liens standards */
.main-nav a {
  text-decoration: none;
  color: #FF6600;
  font-weight: bold;
}

/* Couleur des liens au survol */
.main-nav a:hover {
  color: #a54200;
}

/* Triangle sous les liens */
.main-nav li .triangle {
  position: absolute; /* Positionnement absolu */
  bottom: -17.5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-bottom: 13px solid #FF6600;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Affichage du triangle au survol */
.main-nav li:hover .triangle {
  opacity: 1;
}

/* BARRE DE PROGRESSION */
.progress-container {
  width: 50%; /* Largeur de la barre dans la page */
  background-color: #f3f3f3;
  height: 10px; /* Épaisseur de la barre */
  position: fixed;
  top: 50%; /* Centre verticalement */
  left: 50%; /* Centre horizontalement */
  transform: translate(-50%, -50%);
  z-index: 1000;
  border-radius: 5px; /* Bordures arrondies */
}

/* Barre de progression statique */
.progress-bar {
  width: 61.8%; /* Remplissage de la barre */
  height: 100%; 
  background-color: #FF6600;
  border-radius: 5px; /* Bordures arrondies */
}

/* CONTENEUR PRINCIPAL */
.container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 70px);
}

/* ZONE DE CONTENU */
.main-content {
  flex: 1;
  background-color: #ffffff;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.main-content h2 {
  font-size: 20px;
}

/* COULEURS DES LIENS */
.main-nav a:visited {
  color: #FF6600 !important;
  text-decoration: none !important;
}

.main-nav a:active {
  color: #a54200;
  text-decoration: none;
}

/* TITRE ACCUEIL */
.titre_accueil {
  font-weight: bold;
  color: #FF6600;
  text-align: center;
  font-size: 50px;
  margin-top: 225px;
}